# Python
__pycache__/
*.py[cod]
*.so
*.pyc

# Virtual Environment
venv/
env/
.env

# Machine Learning
*.hdf5
generated_captcha_images/
extracted_letter_images/
model_labels.dat

# IDE specific
.vscode/
.idea/
*.swp

# OS specific
.DS_Store
Thumbs.db